html, body {
    margin: 0;
    padding: 0;
}
body{
    background: #29a3a3;
}
.banner {
    background: url('../images/vespa-manufactur-4.jpg');
    background-size: cover;
    height: 550px;
}
.banner h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    padding-top: 80px;
}
.banner h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: #ffFFFF;
    text-align: center;
}
.container img {
    width: 170px;
    height: 210px;
    padding-top: 100px;
    padding-left: 200px;
    margin: 0 80px 50px 0;
    float: left;
}
.navbar ul {
    margin-left: 850px;   
}
.navbar ul li {
    display: inline;
    line-height: 60px;
    padding: 10px;
}
.navbar ul li a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    color: #e6e6e6;
}
.navbar ul li a:hover {
    color: #33cccc;
}
.container {
    height: 470px;
}
.container h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 50px;
}
.container p {
    padding-top: 100px;
}
.container h2, p{
    color: #404040;
}
.container hr {
    width: 80px;
    border-color: #404040;
}
.content {
    background-color: #737373;
    height: 570px;
}
.content h2 {
    color: #5cd6d6;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 100px;
}
.content hr {
    width: 80px;
    border-color: #5cd6d6;
}

.gambar img {
    display: inline;
    padding: 100px;
}
.gambar .img1{
    height: 134px;
    width: 140px;
    padding-left: 170px;
}
.gambar .img2{
    height: 135px;
    width: 135px;
    padding-left: 50px;
}
.gambar .img3{
    height: 136px;
    width: 136px;
    padding-left: 50px;
}
.gambar .img4{
    height: 130px;
    width: 130px;
    padding-left: 50px;
}
.contact {
    height: 600px;
}
.contact h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 80px;
    color: #404040;
}
.contact hr {
    width: 80px;
    border-color: #404040;
}
.form {
    width: 500px;
    height: 300px;
    margin-left: 460px;
    margin-top: 70px; 
}
.form input {
    width: 200px;
    height: 30px;
    text-indent: 5px;
}
.form textarea {
    width: 433px;
    height: 130px;
    margin-top: 15px;
    text-indent: 10px;
}
.form button {
    width: 100px;
    height: 35px;
    background-color: #404040;
    color: #47d1d1;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    margin-left: 165px;
}
.sosmed #logo1 {
    height: 31px;
    width: 30px;
    margin-left: 637px;
}
.sosmed #logo2 {
    height: 22px;
    width: 24px;
    margin-left: 15px;
}
.footer {
    background-color: #737373;
    height: 100px;
}
.footer p {
    color: #262626;
    text-align: center;
    margin-top: 50px;
    padding-top: 35px;
}
